<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <!-- HTTPping超时毫秒数 -->
    <add key="HttpWebRequest.Timeout" value="2000"/>
    <!-- 允许重启服务的最小时间间隔：单位秒 -->
    <add key="ServiceSafe.RestartSeconds" value="10"/>
    <!-- 轮询状态时间间隔：单位毫秒 -->
    <add key="ServiceSafe.Duration" value="5000"/>

    <!-- 需要包含的服务名称或进程名称，多个使用字符' ', ';', ','分隔。 -->
    <add key="ServiceSafe.ServiceName" value="CLRSvrHost"/>

    <!-- 诊断类型：Process = 进程 ServiceController = 服务控制台 HttpRequest = 通过HTTP请求查询-->
    <add key="CLRSvrHost.DiagnosticType" value="HttpRequest"/>
    <!-- 
      如判断类型不为控制台(ServiceController)，则必须设置此项数据 
      进程：参数值为服务名称的进程友好名称，如：ClrServiceHost。
      HTTP请求：匿名访问的HTTP地址，如：http://127.0.0.1:8095/api/live.html。
    -->
    <add key="CLRSvrHost.DiagnosticArgument" value="http://192.168.8.43:8095/api/live.html"/>

    <!-- 采用执行相关命令行的方式，则指定保证该服务运行的命令行路径 -->
    <add key="CLRSvrHost.RescueCmdPath" value="ClrServiceHost.Rescue.cmd"/>

  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
